.header{
    background-color: red;
    height: 60px;
    width: 100%;
    text-align: right;
}
.navbar{
    background-color: grey;
    height: 30px;
}
.menu{
    display: flex;
    gap: 60px;
    margin-left: 10px;
}
.link:hover{
    background-color: black;
}
.link1, .link2, .link3{
    margin: 0;
    height:30px;
}
.link1:hover, .link2:hover, .link3:hover{
    cursor: pointer;
    background-color: black;
    color: aliceblue;
}
.dropdown-content1{
    display: none;
}
.dropdown-content2{
    display: none;
}
.dropdown-content3{
    display: none;
}
.link1:hover + .dropdown-content1, .dropdown-content1:hover{
    display: block;
    background-color: #ddd;
    position: absolute;
    top:100px;
    padding: 10px;
    z-index: -1;
}
.link2:hover + .dropdown-content2, .dropdown-content2:hover{
    display: block;
    background-color: #ddd;
    position: absolute;
    top:100px;
    padding: 10px;
    z-index: -1;
}
.link3:hover + .dropdown-content3, .dropdown-content3:hover{
    display: block;
    background-color: #ddd;
    position: absolute;
    top:100px;
    padding: 10px;
    z-index: -1;
}
.link:hover .link1{
    cursor: pointer;
    background-color: black;
    color: aliceblue;
}
.link:hover .link2{
    cursor: pointer;
    background-color: black;
    color: aliceblue;
}
.link:hover .link3{
    cursor: pointer;
    background-color: black;
    color: aliceblue;
}